/**
 * Payplug - https://www.payplug.com/
 * Copyright © Payplug. All rights reserved.
 * See LICENSE for license details.
 */

@import "./components/apple-pay.css";

@theme {
  /* Custom colors */
  --color-oney: #81BC00;
  
  /* Custom border colors */
  --color-border-oney: #81BC00;
  --color-border-oney-lighter: #DCE0E8;
}

@source "../layout/**/*.xml";
@source "../templates/**/*.phtml";
